@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --title-color: #f0f0f0;
  --body-text: #b8bdc7;
  --background: #131720;
  --container: #0e0f11;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: var(--body-text);
  background-color: var(--background);
  background-image: linear-gradient(rgba(50, 60, 80, 0.15) 1px, transparent 1px),
                    linear-gradient(90deg, rgba(50, 60, 80, 0.15) 1px, transparent 1px);
  background-size: 20px 20px;
}